@import '../../variables.scss';

.paginationContainer {
	display: flex;
	list-style-type: none;

	.paginationItem {
		@include font-500;
		color: $color-blue;
		padding: 0 12px;
		height: 32px;
		text-align: center;
		margin: auto 4px;
		display: flex;
		box-sizing: border-box;
		align-items: center;
		letter-spacing: 0.01071em;
		border-radius: 16px;
		line-height: 1.43;
		min-width: 32px;

		&.dots:hover {
			background-color: transparent;
			cursor: default;
		}
		&:hover {
			background-color: rgba(0, 0, 0, 0.04);
			cursor: pointer;
		}

		&.selected {
			background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
		}

		.arrow {
			&::before {
				position: relative;
				/* top: 3pt; Uncomment this to lower the icons as requested in comments*/
				content: '';
				/* By using an em scale, the arrows will size with the font */
				display: inline-block;
				width: 9px;
				height: 16px;
				margin: 10px;
			}

			&.left {
				background: url('../../static/svg/left.svg') no-repeat center;
			}

			&.right {
				background: url('../../static/svg/right.svg') no-repeat center;
			}
		}

		&.disabled {
			pointer-events: none;

			.arrow::before {
				display: none;
			}

			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}
