@import '../../variables.scss';

.container {
	box-sizing: border-box;
	display: flex;
	justify-self: center;
	justify-content: space-between;
	width: 1380px;

	padding: 40px;

	font-size: 16px;
}

.product__form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 600px;
	border-radius: 10px;
}

.form__title {
	margin-bottom: 30px;
}

.form__input {
	margin: 16px 0 16px 0;
	position: relative;
}

.form__input input,
textarea {
	font-family: 'Inter';
	box-sizing: border-box;
	font-size: 100%;
	padding: 12.8px;
	outline: none;
	border: 2px solid rgb(200, 200, 200);
	background-color: transparent;
	border-radius: 10px;
	width: 100%;
	resize: none;
}

.form__input label {
	position: absolute;
	left: 0;
	top: 0;
	padding: 12.8px;
	margin-left: 8px;
	pointer-events: none;
	transition: all 0.3s ease;
	color: rgb(100, 100, 100);
}

.form__input
	:is(input:focus, input:valid, textarea:focus, textarea:valid)
	~ label {
	transform: translateY(-50%) scale(0.9);
	margin: 0;
	margin-left: 25px;
	padding: 0px 5px 0px 5px;
	background-color: #ffffff;
}

.form__input :is(input:focus, input:valid, textarea:focus, textarea:valid) {
	border-color: $color-blue;
}

.size {
	font-size: 16px;
}

.type__con {
	position: relative;

	.type__care {
		display: flex;

		.title {
			margin-right: 20px;
		}

		.value {
			cursor: pointer;
		}
	}

	.types {
		box-sizing: border-box;
		background-color: #f1f1f1;
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 25px;
		left: 105px;
		border-radius: 5px;
		padding: 10px;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.form__button {
		@include font-600;
		box-sizing: border-box;
		align-self: flex-end;

		padding: 10px;
		border-radius: 5px;
		font-size: 14px;
		background-color: $color-blue;
		color: #ffffff;
		cursor: pointer;
	}

	margin-top: 20px;
}

.alert {
	width: 100%;
	box-sizing: border-box;
	color: #fb4e4e;
	background-color: #ffefef;
	border-radius: 7px;
	padding: 10px;
	animation: shake 0.3s;
	margin-top: 10px;
}

@keyframes shake {
	25% {
		transform: translateX(4px);
	}
	50% {
		transform: translateX(-4px);
	}
	75% {
		transform: translateX(4px);
	}
}

.products {
	display: flex;
	flex-direction: column;

	.product {
		position: relative;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		align-items: center;
		width: 600px;
		border: 2px solid rgb(200, 200, 200);
		padding: 30px;
		border-radius: 10px;
		margin-bottom: 20px;

		.delete {
			position: absolute;
			top: 15px;
			right: 15px;
			color: #fb4e4e;
			cursor: pointer;
			opacity: 0;
		}

		&:hover .delete {
			opacity: 1;
		}

		.logo {
			width: 180px;
			max-height: 180px;
			margin-right: 30px;
		}

		.package {
			display: flex;
			align-items: center;
			width: 100%;

			img {
				opacity: 0.23;
				margin-right: 8px;
			}

			.vol {
				@include font-500;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: fit-content;

			@include font-500;

			.spec {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: fit-content;

				div {
					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}

				.key {
					@include font-300;
					color: $color-blue;
					margin-right: 5px;
				}

				&:not(.key) {
					@include font-500;
				}
			}
		}
	}
}
