@import '../../variables.scss';

.container {
	display: grid;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.hr {
	width: 100%;
	height: 1px;
	background: $color-blue;
	opacity: 0.2;
}

.cart {
	display: flex;
	width: 1380px;
	justify-self: center;
	flex-direction: column;

	h1 {
		padding: 50px;
		align-self: center;
	}

	.title {
		@include font-500;
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	margin-top: 70px;
}

.hhr {
		height: 1px;
		background: url('../../static/svg/hhr.svg') no-repeat center;
		margin-bottom: 50px;
	}

.order {
	display: flex;
	align-items: center;
	justify-content: space-between;

	button {
		@include font-700;
		color: #ffffff;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 19px;

		width: 192px;
		height: 60px;

		background: #ffc85e;
		border-radius: 79px;
	}

	span {
		@include font-700;
		font-size: 30px;
	}
}
